@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

/* set 1 */
$black: #071013;
$burnt: #730F00;
$lightblue: #75abbc;
$lightgrey: #a2aebb;
$platinum: #dfe0e2;

/* set 2 */
$linen: #F3EBE2;
$cadetGrey: #989DAA;
$silverLakeBlue: #608AC1;
$royalBlue: #566DD8;
$delftBlue: #2A315B;

/* set 3 */
$seasalt: #FAF9F9;
$mountbattenPink1: #9A7487;
$mountbattenPink2: #8F8498;
$mountbattenPink3: #777289;
$darkPurple: #38213D;



$font-league-spartan: 'League Spartan', sans-serif;