@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

/* set 1 */
$black: #071013;
$burnt: #730f00;
$lightblue: #75abbc;
$lightgrey: #a2aebb;
$platinum: #fefefe;

/* set 2 */
$linen: #f3ebe2;
$cadetGrey: #989daa;
$silverLakeBlue: #608ac1;
$royalBlue: #566dd8;
$delftBlue: #2a315b;

/* set 3 */
$seasalt: #faf9f9;
$mountbattenPink1: #9a7487;
$mountbattenPink2: #8f8498;
$mountbattenPink3: #777289;
$darkPurple: #38213d;

$font-league-spartan: "League Spartan", sans-serif;
