@import "_variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;

  .about {
    text-align: center;

    h2 {
      color: $burnt;
      margin-bottom: 10px;
    }

    p {
      font-weight: bold;
    }
  }
}
