@import "_variables";

.card {
  width: 12vw;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  p {
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
    color: $burnt;
  }

  &.rotate {
    animation: spinAndGrow 1s forwards;
  }

  @media (max-width: 768px) {
    min-width: 0;
  }
}

@keyframes spinAndGrow {
  0% {
    transform: scale(1.15);
    color: $burnt;
  }
  99% {
    transform: scale(1) rotate(360deg);
  }
  100% {
    color: $burnt;
  }
}
