@import "_variables";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: $black;
  color: $platinum;
  z-index: 5;
  width: 100%;

  .icons {
    font-size: 40px;
  }
}

@-moz-document url-prefix() {
  .footer {
    padding: 10px 0;
  }
}
