@import "_variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;

  .intro {
    text-align: center;

    h1 {
      .name {
        color: $burnt;
      }
    }

    p {
      font-weight: bold;
    }
  }
}
