@import "_variables";

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-image: url("/Background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .contactButton {
    border: none;
    background-color: $burnt;
    color: $platinum;
    padding: 10px 20px 8px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
  }

  .intro {
    padding-right: 17%;
    text-align: center;
    h1,
    h2 {
      .name {
        color: $burnt;
      }
    }

    p {
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;

    .intro {
      padding-right: 0;
    }
  }
}
