@import "_variables";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: darken($platinum, 10%);
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid $lightgrey;
  z-index: 4;

  @media (max-width: 768px) {
    justify-content: flex-end;
  }

  .menuBurger,
  .closing {
    border: none;
    font-size: 40px;
    display: none;
    z-index: 3;
    padding-right: 3rem;
    @media (max-width: 768px) {
      display: flex;
    }
  }

  .closing {
    background-color: $platinum;
  }

  .menuBurger {
    background-color: darken($platinum, 10%);
  }

  .navList {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-right: 1rem;

    li a {
      color: $black;
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 24px;

      &:hover {
        color: $burnt;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .navList.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: $platinum;

    li a {
      font-size: 48px;
      border-bottom: 1px solid $black;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $platinum;
  }
}
