@import "_variables";

.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  max-width: 1400px;
  margin: auto;

  a {
    width: 30%;
  }

  h2 {
    margin-bottom: 3rem;
    color: $burnt;
  }

  @media (max-width: 768px) {
    a {
      width: 100%;
    }

    h2 {
      margin-bottom: 0;
    }
  }
}
