@import "_variables";

.projectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px transparent $black;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: auto;
  background-size: cover;
  background-position: center;
  height: 40vh;
  border-radius: 10px;

  .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    z-index: 3;
    border-radius: 10px;
  }

  h3 {
    text-align: center;
    color: $platinum;
    min-height: 1.5em;
  }

  p {
    text-align: center;
    color: $platinum;
    min-height: 3em;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 10px;

    svg {
      color: $platinum;
    }
  }

  h3,
  p,
  .icons {
    position: relative; // Ajoutez cette ligne
    z-index: 4;
  }
}
