@import "_variables";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  h2 {
    color: $burnt;
    margin-bottom: 2rem;
  }

  .icones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      p {
        display: none;
      }
    }
  }
}
