@import "_variables";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  background-image: url("/Background1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 10%;

  h2 {
    color: $burnt;
    margin-bottom: 2rem;
  }

  .icones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      p {
        display: none;
      }
    }
  }
  @media (max-width: 768px) {
    padding-left: 0;
    align-items: center;
  }
}
